# Agenda

1. String methods
2. Loops
    - `for`
    - `while`
3. Lists  
    - Lists to strings, and back

In [3]:
first = input('Enter first number: ')
second = input('Enter second number: ')

first = int(first)
second = int(second)

print(f'{first} + {second} = {first+second}')

Enter first number: 2
Enter second number: 5
2 + 5 = 7

In [4]:
name = input('Enter your name: ')

print(f'Hello, {name}!')

Enter your name: Reuven
Hello, Reuven!

In [5]:
name = input('Enter your name: ')

print(f'Hello, {name}!')

Enter your name:            Reuven
Hello,            Reuven            !

In [6]:
name

'           Reuven            '

In [8]:
len(name)     #  FUNCTION(ARG)

29

In [9]:
# DATA.METHOD()    DATA.METHOD(ARG1, ARG2)

name.strip()

'Reuven'

In [10]:
# strings are immutable -- they cannot be changed!
name

'           Reuven            '

In [11]:
name = name.strip()

In [12]:
print(f'Hello, {name}!')

Hello, Reuven!

In [13]:
# option 1: assign back to the variable

name = input('Enter your name: ')
name = name.strip()

print(f'Hello, {name}!')

Enter your name:     Reuven
Hello, Reuven!

In [14]:
# option 2: run the method inside of the f-string

name = input('Enter your name: ')

print(f'Hello, {name.strip()}!')

Enter your name:     Reuven
Hello, Reuven!

In [15]:
name

'    Reuven   '

In [18]:
name = input('Enter your name: ').strip()

print(f'Hello, {name}!')

Enter your name: adfgafa
Hello, adfgafa!

In [17]:
name

'Reuven'

In [19]:
s = '   abcd   '
s.strip()

'abcd'

In [25]:
s = '"Hello?"'

s.strip('"?.!')

'Hello'

In [21]:
s = '   a    b    c   '

s.strip()

'a    b    c'

In [22]:
s = 123    # integer
s.strip()

AttributeError: 'int' object has no attribute 'strip'

In [26]:
s = 'aBcD eFgH'

s.lower()   # all lowercase string is returned

'abcd efgh'

In [27]:
s.upper()   # all uppercase, based on s

'ABCD EFGH'

In [28]:
s.title()    # start of word is capitalized, rest are lowercase

'Abcd Efgh'

In [29]:
s.capitalize()  # only first letter is capitalized

'Abcd efgh'

In [30]:
s.swapcase()   # switch the case

'AbCd EfGh'

In [31]:
first = input('Enter number: ')
second = input('Enter second number: ')

first = int(first)
second = int(second)

print(f'{first} + {second} = {first+second}')

Enter number: 10
Enter second number: 5
10 + 5 = 15

In [33]:
first = input('Enter number: ')
second = input('Enter second number: ')

if first.isdigit() and second.isdigit():

    first = int(first)
    second = int(second)

    print(f'{first} + {second} = {first+second}')

else:
    print(f'You must enter numbers!')

Enter number: 123
Enter second number: abcd
You must enter numbers!

In [34]:
x = 123.456

In [35]:
x.as_integer_ratio()

(8687443681197687, 70368744177664)

In [36]:
x.is_integer()

False

In [37]:
x = 123.0
x.is_integer()

True

In [41]:
float.fromhex('12ab.abcd')

4779.671096801758

In [42]:
float.fromhex('0.ff')

0.99609375

In [44]:
255 / 16 ** 2

0.99609375

In [45]:
0xff

255

In [46]:
s = 'abcdefghijklmnopqrstuvwxyz'

len(s)

26

In [47]:
'j' in s

True

In [48]:
# where, though, is 'j' in s?
s.index('j')

9

In [50]:
x = 'abcdefgabcdefg'

x.index('e')

4

In [51]:
x = 'abcdefgabcdefg'

x.rindex('e')    # right-side index

11

In [52]:
s.index('!')

ValueError: substring not found

In [53]:
# sequence: string, list, tuple

# Loops

Python has just two types of loops:

- `for`
- `while`

In [54]:
s = 'abcd'

for one_character in s:
    print(one_character)

a
b
c
d

In [55]:
s = 'abcd'

for avocado in s:
    print(avocado)

a
b
c
d

# Exercise: Sum digits

1. Ask the user to enter a string.
2. Define the variable `total` to be 0.
3. Go through each character in the string. 
    - If the character is a digit, then add to `total`
    - If not, tell the user that this isn't numeric
4. Print `total`

In [56]:
x = 10
y = 12.34

print(f'{x} + {y} = {x+y}')

10 + 12.34 = 22.34

In [57]:
s = '123'
s.isdigit()

True

In [58]:
s = ' 123'
s.isdigit()

False

In [59]:
int('5')

5

In [60]:
type(int('5'))

int

In [61]:
total = 0

s = input('Enter a string: ').strip()

for one_character in s:
    if one_character.isdigit():
        total += int(one_character)
    else:
        print(f'Non-numeric character {one_character}')
        
print(f'total = {total}')

Enter a string: 123abc45
Non-numeric character a
Non-numeric character b
Non-numeric character c
total = 15

In [63]:
for i in 3:
    print('Yay!')

TypeError: 'int' object is not iterable

In [65]:
for i in range(3):    # from 0 until (not including) 3
    print(f'{i} Yay!')

0 Yay!
1 Yay!
2 Yay!

In [67]:
for i in range(3, 10):   # from 3 until (not including) 10
    print(f'{i} Hello')

3 Hello
4 Hello
5 Hello
6 Hello
7 Hello
8 Hello
9 Hello

In [68]:
for i in range(3, 10, 2):  # from 3 until (not including) 10, step size 2
    print(f'{i} Hello')

3 Hello
5 Hello
7 Hello
9 Hello

In [69]:
# option 1 for printing indexes
# manually

s = 'abcd'
index = 0

for one_character in s:
    print(f'{index}: {one_character}')
    index += 1

0: a
1: b
2: c
3: d

In [70]:
# option 2 for printing indexes
# enumerate

s = 'abcd'

for index, one_character in enumerate(s):
    print(f'{index}: {one_character}')

0: a
1: b
2: c
3: d

In [71]:
s = 'abcde'
look_for = 'd'

for one_letter in s:
    if look_for == one_letter:
        break  # immediately exit from the current loop
        
    print(one_letter)

a
b
c

In [72]:
s = 'abcde'
look_for = 'd'

for one_letter in s:
    if look_for == one_letter:
        continue  # go onto the next iteration, but stay in the loop
        
    print(one_letter)

a
b
c
e

In [ ]:
total = 0

s = input('Enter a string: ').strip()

for one_character in s:
    if not one_character.isdigit():
        print(f'Non-numeric character {one_character}')
        continue
        
    total += int(one_character)
        
print(f'total = {total}')

In [73]:
break

SyntaxError: 'break' outside loop (668683560.py, line 1)

In [74]:
continue

SyntaxError: 'continue' not properly in loop (414696514.py, line 1)

In [75]:
x = 5

while x > 0:
    print(x)
    x -= 1

5
4
3
2
1

In [76]:
while True:
    name = input('Enter your name: ').strip()
    
    if not name:    # empty string? exit the loop
        break
        
    print(f'Hello, {name}!')

Enter your name: Reuven
Hello, Reuven!
Enter your name: someone else
Hello, someone else!
Enter your name: whoever
Hello, whoever!
Enter your name: whatever
Hello, whatever!
Enter your name: asdfadsfads
Hello, asdfadsfads!
Enter your name:

# Next up

1. Lists
2. Lists to strings (and back)
3. Tuples
    - Unpacking
    
Continue at 15:10

# Lists 

Traditionally, for collections of items of the same type.

In [80]:
mylist = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]   # use [] to define, with commas (,) between elements

type(mylist)

list

In [81]:
len(mylist)

10

In [82]:
mylist[0]  # indexing starts with 0

10

In [83]:
mylist[1]

20

In [84]:
mylist[-1]   # final element in mylist

100

In [86]:
mylist[2:6]  # slice

[30, 40, 50, 60]

In [87]:
mylist[1:8:2]  # slice with step size

[20, 40, 60, 80]

In [88]:
70 in mylist

True

In [89]:
for one_item in mylist:
    print(one_item)

10
20
30
40
50
60
70
80
90
100

In [90]:
mylist = [10, 20, 30]

biglist = [mylist, mylist, mylist]

In [91]:
mylist   # list of ints

[10, 20, 30]

In [92]:
biglist  # list of lists

[[10, 20, 30], [10, 20, 30], [10, 20, 30]]

In [93]:
biglist[0]

[10, 20, 30]

In [94]:
len(biglist)

3

In [95]:
biglist[1][2]

30

In [96]:
something = [['a', 'b', 'c'], [100, 200, 30.5], ['hello', 10, [1,2,3]]]

In [97]:
something

[['a', 'b', 'c'], [100, 200, 30.5], ['hello', 10, [1, 2, 3]]]

In [98]:
for one_item in something:
    print(one_item)

['a', 'b', 'c']
[100, 200, 30.5]
['hello', 10, [1, 2, 3]]

In [99]:
s = 'abcde'
s[0]

'a'

In [100]:
s[0] = "!"

TypeError: 'str' object does not support item assignment

In [101]:
mylist

[10, 20, 30]

In [102]:
mylist[0]

10

In [103]:
mylist[0] = '!'

In [104]:
mylist

['!', 20, 30]

In [105]:
mylist.append(40)  # adds the int 40 to the end

In [106]:
mylist

['!', 20, 30, 40]

In [107]:
biglist

[['!', 20, 30, 40], ['!', 20, 30, 40], ['!', 20, 30, 40]]

In [108]:
mylist = [10, 20, 30]

mylist.append(40)

In [109]:
mylist

[10, 20, 30, 40]

In [110]:
mylist.append([100, 200, 300])
mylist

[10, 20, 30, 40, [100, 200, 300]]

In [111]:
len(mylist)

5

In [112]:
mylist.append('hello')

In [113]:
mylist

[10, 20, 30, 40, [100, 200, 300], 'hello']

In [114]:
mylist += [100, 200, 300]  # += looks to the right, runs "append" on each element
mylist

[10, 20, 30, 40, [100, 200, 300], 'hello', 100, 200, 300]

In [115]:
mylist += 'hello'

In [116]:
mylist

[10,
 20,
 30,
 40,
 [100, 200, 300],
 'hello',
 100,
 200,
 300,
 'h',
 'e',
 'l',
 'l',
 'o']

In [117]:
mylist.pop()   # removes + returns element at the end

'o'

In [118]:
mylist

[10, 20, 30, 40, [100, 200, 300], 'hello', 100, 200, 300, 'h', 'e', 'l', 'l']

In [119]:
mylist.pop(3)   # removes + returns element at index 3

40

In [120]:
mylist

[10, 20, 30, [100, 200, 300], 'hello', 100, 200, 300, 'h', 'e', 'l', 'l']

In [121]:
# don't do this!

mylist = mylist.append(100)

In [122]:
print(mylist)

None

In [123]:
mylist = [10, 20, 30]
mylist.append(100)

mylist

[10, 20, 30, 100]

In [124]:
mylist = [10, 20, 30]
len(mylist)

3

In [125]:
mylist.pop()   # returns + removes the final item in the list (at index -1)

30

In [126]:
len(mylist)

2

In [127]:
mylist

[10, 20]

In [128]:
mylist = [10, 20, 30, 40, 50]
mylist.insert(2, 'hello')

mylist

[10, 20, 'hello', 30, 40, 50]

In [129]:
mylist = [10, 20, 30, 40]

# Jupyter commands

In command mode (clicking on the left, or ESC --  you'll see a blue outline), you can write:

- `a` -- New cell above the current one
- `b` -- New cell below the current one
- `x` -- cut current cell
- `c` -- copy current cell
- `v` -- paste from cut/copy

In [131]:
s = input('Enter a string:')

if not s:   # only run if s is empty
    print('s is an empty string!')

Enter a string:
s is an empty string!

In [132]:
mylist = [10, 20, 30]
mylist.append(40)

mylist

[10, 20, 30, 40]

In [134]:
# empty list
mylist = []
len(mylist)

0

In [135]:
s = '12345'

s.isdigit()

True

In [137]:
s.isnumeric()

True

In [138]:
s.isdecimal()

True

In [139]:
s = '' 
type(s)

str

In [140]:
len(s)

0

In [141]:
x = None
type(x)

NoneType

In [142]:
None == ''

False

# Exercise: Odds and evens

1. Define two empty lists, `odds` and `evens`.
2. Ask the user, repeatedly, to enter numbers.  Each time, one of three things will happen:
    - The user gives us an empty string; we exit from the loop.
    - The user gives us a string that can be turned into an integer.  We turn it into an int, and add it to `odds` or `evens`, as appropriate.
    - The user gives us a non-numeric string.  We scold the user, and continue to the next iteration.
3. Print `odds` and `evens`.

You can find if a number is odd with `%2`.  If the answer is 1, the number is odd; otherwise, even.

Example:

    Number: 10
    Number: 15
    Number: 21
    Number: 20
    Number: asdfasdfa
        Not numeric!
    Number: [ENTER]
    odds: [15, 21]
    evens: [10, 20]

In [143]:
odds = []
evens = []

while True:
    s = input('Number: ').strip()
    
    if not s:   # if we got an empty string, exit the while loop
        break
        
    if s.isdigit():
        n = int(s)

        if n % 2 == 1:   # if it's odd...
            odds.append(n)
        else:
            evens.append(n)
            
    else:
        print(f'{s} is not numeric')
        
print(f'{odds=}')       
print(f'{evens=}')

Number: 10
Number: 15
Number: 21
Number: 22
Number: asdfafa
asdfafa is not numeric
Number:
odds=[15, 21]
evens=[10, 22]

In [144]:
print(f'odds = {odds}')

odds = [15, 21]

In [145]:
s = '123'
int(s)

123

In [146]:
n = 123
str(n)

'123'

In [147]:
s = 'ab,cde,fg'
list(s)

['a', 'b', ',', 'c', 'd', 'e', ',', 'f', 'g']

In [148]:
s.split(',')   # get back a list of strings, based on s, where ',' separates fields

['ab', 'cde', 'fg']

In [149]:
fields = s.split(',')
fields

['ab', 'cde', 'fg']

In [150]:
s = 'this is a fantastic sentence for my course'
s.split(' ')

['this', 'is', 'a', 'fantastic', 'sentence', 'for', 'my', 'course']

In [151]:
s = 'this   is a    fantastic sentence   for my   course'
s.split(' ')

['this',
 '',
 '',
 'is',
 'a',
 '',
 '',
 '',
 'fantastic',
 'sentence',
 '',
 '',
 'for',
 'my',
 '',
 '',
 'course']

In [152]:
s = 'this   is a    fantastic sentence   for my   course'
s.split()  # split without arguments means: use any whitespace, in any combination/length, as a separator

['this', 'is', 'a', 'fantastic', 'sentence', 'for', 'my', 'course']