# Agenda:

- Functions!
    - Writing functions
    - Arguments -> Parameters
        - Mandatory parameters 
        - Parameters with defaults
        - `*args`
        - `**kwargs`
    - Scoping

# DRY - don't repeat yourself

In [1]:
s = 'abcd'

x = len(s)

type(x)

int

In [2]:
x

4

In [3]:
x = s.upper()

type(x)

str

In [4]:
x

'ABCD'

In [5]:
x = s.upper

In [6]:
type(x)

builtin_function_or_method

In [7]:
x

In [8]:
x()

'ABCD'

In [9]:
x = 5

x()

TypeError: 'int' object is not callable

In [10]:
d = {'a':10, 'b':20, 'c':30}

# for loop on the dict
for key, value in d.items():
    print(f'{key}: {value}')

a: 10
b: 20
c: 30

In [11]:
d = {'a':10, 'b':20, 'c':30}

# for loop on the dict -- without the () after d.items... will it work?
for key, value in d.items:
    print(f'{key}: {value}')

TypeError: 'builtin_function_or_method' object is not iterable

In [13]:
# Defining a function
# (1) def
# (2) name of the function
# (3) parentheses (), with parameter names inside
# (4) : at the end of the line
# (5) body of the function, indented


def hello():
    print('Hello!')

In [14]:
type(hello)

function

In [15]:
hello()

Hello!

In [16]:
hello()

Hello!

In [17]:
hello()

Hello!

In [18]:
x = hello()

Hello!

In [20]:
print(x)  # the function printed, but didn't return anything

None

In [26]:
# when I define a function, I do two things:
# (1) create a function object
# (2) assign the function to a variable

def hello():
    return 'Hello!'

In [23]:
print(hello())

Hello!

In [29]:
# assigning to the same function overwrites the previous function

# redefine, with a parameter -- now we need an argument
def hello(name):
    return f'Hello, {name}!'

In [30]:
hello()   # what happens now?

TypeError: hello() missing 1 required positional argument: 'name'

In [31]:
x = 5
x = 7

print(x)

7

In [36]:
# assigning to the same function overwrites the previous function

# redefine, with a parameter -- now we need an argument
def hello(name):
    return f'Hello, {name}!'

In [37]:
# parameter: name
# argument: 'world'

hello('world')

'Hello, world!'

In [38]:
# parameter: name
# argument: 5

hello(5)

'Hello, 5!'

In [39]:
hello([10, 20, 30])

'Hello, [10, 20, 30]!'

In [40]:
hello(hello)

'Hello, <function hello at 0x10cf84700>!'

In [41]:
# type hints / type annotations

In [42]:
def add(first, second):
    return first + second

In [43]:
add(5, [10, 20, 30])

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [44]:
add([10, 20, 30], [40, 50, 60])

[10, 20, 30, 40, 50, 60]

In [45]:
x = 5
type(x)

int

In [46]:
x = 'abcd'
type(x)

str

In [47]:
add(10, 3)

13

In [48]:
add(10)

TypeError: add() missing 1 required positional argument: 'second'

In [51]:
x = 5

def x():
    return 'I am x!'

x = 7

def x():
    return 'I am still x!'

x = 9

In [52]:
type(x)

int

# Exercise: `mysum`

1. Python has a `sum` function, which takes any iterable (list, tuple, set) of numbers (ints and floats) and returns the sum.
2. Write a function, `mysum`, that does the same thing.  The function should take one argument, and return a number.
3. Don't use `sum` to write your `mysum` function!

In [ ]:
mysum([10, 20, 30])          # 60
mysum((100, 200, 300, 400))  # 1000

In [53]:
isinstance(5, int)

True

In [54]:
def mysum(numbers):
    total = 0
    
    for one_number in numbers:
        total += one_number
        
    return total

In [55]:
mysum([10, 20, 30])

60

In [56]:
mysum((100, 200, 300, 400))

1000

In [ ]:
def mysum(obj):
    s=0
    for key in obj:
         s += key
    return s
print(mysum([10, 20, 30]))

In [57]:
def add(first, second):
    return first + second

In [58]:
add(10, 3)

13

In [59]:
add(10)

TypeError: add() missing 1 required positional argument: 'second'

In [60]:
def add(first, second):
    return first + second

# parameters: first  second
# arguments:   10      3


add(10, 3)

13

In [61]:
# parameters: first  second
# arguments:   10     


add(10)

TypeError: add() missing 1 required positional argument: 'second'

In [62]:
# let's make second an optional parameter
# if we don't pass a value to second, it'll still get a value

def add(first, second=5):     # this makes __defaults__ == (5,)
    return first + second

In [63]:
# parameters:   first   second
# arguments:     10      3

add(10, 3)

13

In [65]:
# parameters:   first   second
# arguments:     10       5

add(10)

15

In [64]:
add.__defaults__    # tuple with all of our function's defaults

(5,)

In [66]:
def add(first=3, second=5):
    return first + second

In [67]:
# parameters: first  second
# arguments:   10      20

add(10, 20)

30

In [69]:
# parameters: first  second
# arguments:   10      5

add(10)

15

In [68]:
add.__defaults__

(3, 5)

In [70]:
# parameters: first  second
# arguments:   3       5

add()

8

# Two types of arguments

The types of arguments determine how arguments are assigned to parameters.

- Positional: Based on their order when we call the function, they are assigned to parameters.

- Keyword: They always look like `name=value`.  Based on the name, they are assigned to parameters.

In [71]:
def add(first=3, second=5):
    return first + second


# parameters: first  second
# arguments:   100     200

add(first=100, second=200)    # keyword arguments

300

In [72]:


# parameters: first  second
# arguments:   200    100

add(second=100, first=200)    # keyword arguments

300

In [73]:
# We can mix/combine positional and keyword arguments, so long as the positional come first

# parameters: first  second
# arguments:   100     200

add(100, second=200)

300

In [74]:
add(100, first=200)

TypeError: add() got multiple values for argument 'first'

In [75]:
# parameters:  first   second
# arguments:    3         200

add(second=200)

203

In [76]:
add.__defaults__  # "dunder" == "double underscore"

(3, 5)

In [77]:
___x___  # "thunder"

NameError: name '___x___' is not defined

# Parameter types

1. Regular, mandatory parameters (can be either positional or keyword)
2. Optional parameters (also positional or keyword)

In [79]:
x = 100
del(x)    # make sure the global x doesn't exit

In [80]:
x = 10

def myfunc(y):
    y = 20    # this assigns to y, but has *NO* effect on x
      
myfunc(x)     # this calls myfunc with the value that x refers to (i.e., 10)
print(x)

10

In [81]:
x = [10, 20, 30]

def myfunc(y):
    y.append(1)  # we change the list that y refers to (which, it turns out, x also refers to)
    
myfunc(x)    # this calls myfunc with the value that x refers to (i.e., [10, 20, 30])
print(x)

[10, 20, 30, 1]

In [86]:
# never use mutable defaults

def myfunc(y=[]):  # defaults are set at compile time, not run time!
    y.append(1)
    return y

myfunc()

[1]

In [87]:
myfunc.__defaults__

([1],)

In [88]:
myfunc()

[1, 1]

In [89]:
myfunc.__defaults__

([1, 1],)

In [84]:
myfunc()

[1, 1, 1]

In [85]:
myfunc()

[1, 1, 1, 1]

In [91]:
def myfunc(y=None):

    if y is None:
        y = []    # this empty list is created at runtime, thus no problems
    
    y.append(1)
    return y

myfunc()

[1]

In [92]:
myfunc()

[1]

In [93]:
myfunc()

[1]

In [96]:
# again: don't use mutable defaults!
# further good examples of a bad thing to do

# Immutable
- `None`
- `True`
- `False`
- `int`
- `float`
- `str`
- `tuple`


# Mutable
- `list`
- `dict`
- `set`

In [98]:
def mysum(numbers):
    total = 0
    
    for one_number in numbers:
        total += one_number
        
    return total

In [100]:
# I don't want to pass one argument, but rather any number of arguments

mysum(10, 20, 30)

TypeError: mysum() takes 1 positional argument but 3 were given

In [101]:
def mysum(*numbers):    # *args  "splat args" -- all positional args that others didn't take go into it
    total = 0
    
    for one_number in numbers:
        total += one_number
        
    return total

In [103]:
# Parameters: numbers
# Arguments:  (10, 20, 30)  

mysum(10, 20, 30)

60

In [104]:
def myfunc(a, b, *args):
    return f'{a=}, {b=}, {args=}'

In [105]:
myfunc(10, 20, 30, 40, 50)

'a=10, b=20, args=(30, 40, 50)'

# Parameter types

1. Regular, mandatory parameters (can be either positional or keyword)
2. Optional parameters (also positional or keyword)
3. `*args` (all remaining positional args)

# Next up

1. Exercise with `*args`
2. `**kwargs`
3. Scoping (LEGB)

Continue at 11:00

In [106]:
t = (10, 20, 30)

t.append(40)

AttributeError: 'tuple' object has no attribute 'append'

In [107]:
# constants means: a name has a value, and that lasts forever

BEST_LANGUAGE = 'Python'

In [108]:
type(BEST_LANGUAGE)

str

In [109]:
BEST_LANGUAGE = 'something else'

In [110]:
BEST_LANGUAGE

'something else'

In [112]:
x = 'abcd'
id(x)

4511649904

In [113]:
x = x + 'efgh'
id(x)

4501603056

In [114]:
# ECMAScript

# Exercise: `all_lines`

1. Define a function, `all_lines`, that will take the following arguments:
    - A mandatory argument, a filename (string), into which we'll write data
    - 0 or more strings, also filenames, that we will *read* from
2. The function will go through each line, in each input file, and write it to the output file.

After running the function, all lines from all input files will be in the single output file.

Assumptions:
- The input files all exist
- The output file can be overwritten
- All input files are text

```python
all_lines('outfile.txt', 'infile1.txt', 'infile2.txt')
```

In [116]:
def all_lines(outfilename, *args):

    # outfile = open(outfilename, 'w')        basically the same as the "with" line, except for closing

    with open(outfilename, 'w') as outfile:   # open the file, and ensure it'll be flushed+closed at block end
        for one_filename in args:             # go through each input filename
            for one_line in open(one_filename):  # go through each line in the current file
                outfile.write(one_line)       # write the current line to the output file

In [117]:
# ! == run something in the operating system
# cat == show the current file
# ls == list files in the current directory

!ls *.txt

linux-etc-passwd.txt  myconfig.txt  nums.txt		shoe-data.txt
mini-access-log.txt   myfile.txt    reverse-wcfile.txt	wcfile.txt

In [118]:
all_lines('outfile.txt', 'nums.txt', 'wcfile.txt', 'linux-etc-passwd.txt')

In [119]:
!cat outfile.txt

5
	10
	20
  	3
		   	20

 25
This is a test file.

It contains 28 words and 20 different words.

It also contains 165 characters.

It also contains 11 lines.

It is also self-referential.

Wow!
# This is a comment
# You should ignore me
root:x:0:0:root:/root:/bin/bash
daemon:x:1:1:daemon:/usr/sbin:/usr/sbin/nologin
bin:x:2:2:bin:/bin:/usr/sbin/nologin
sys:x:3:3:sys:/dev:/usr/sbin/nologin
sync:x:4:65534:sync:/bin:/bin/sync
games:x:5:60:games:/usr/games:/usr/sbin/nologin
man:x:6:12:man:/var/cache/man:/usr/sbin/nologin
lp:x:7:7:lp:/var/spool/lpd:/usr/sbin/nologin
mail:x:8:8:mail:/var/mail:/usr/sbin/nologin



news:x:9:9:news:/var/spool/news:/usr/sbin/nologin
uucp:x:10:10:uucp:/var/spool/uucp:/usr/sbin/nologin
proxy:x:13:13:proxy:/bin:/usr/sbin/nologin
www-data:x:33:33:www-data:/var/www:/usr/sbin/nologin
backup:x:34:34:backup:/var/backups:/usr/sbin/nologin
list:x:38:38:Mailing List Manager:/var/list:/usr/sbin/nologin
irc:x:39:39:ircd:/var/run/ircd:/usr/sbin/nologin
gnats:x:41:41:Gnats Bug-Reporting System (admin):/var/lib/gnats:/usr/sbin/nologin

nobody:x:65534:65534:nobody:/nonexistent:/usr/sbin/nologin
syslog:x:101:104::/home/syslog:/bin/false
messagebus:x:102:106::/var/run/dbus:/bin/false
landscape:x:103:109::/var/lib/landscape:/bin/false
jci:x:955:955::/home/jci:/bin/bash
sshd:x:104:65534::/var/run/sshd:/usr/sbin/nologin
user:x:1000:1000:user,,,:/home/user:/bin/bash
reuven:x:1001:1001:Reuven M. Lerner,,,:/home/reuven:/bin/bash
postfix:x:105:113::/var/spool/postfix:/bin/false
colord:x:106:116:colord colour management daemon,,,:/var/lib/colord:/bin/false
postgres:x:107:117:PostgreSQL administrator,,,:/var/lib/postgresql:/bin/bash
dovecot:x:108:119:Dovecot mail server,,,:/usr/lib/dovecot:/bin/false
dovenull:x:109:120:Dovecot login user,,,:/nonexistent:/bin/false
postgrey:x:110:121::/var/lib/postgrey:/bin/false
debian-spamd:x:111:122::/var/lib/spamassassin:/bin/sh
memcache:x:113:124:Memcached,,,:/nonexistent:/bin/false
genadi:x:1002:1003:Genadi Reznichenko,,,:/home/genadi:/bin/bash
shira:x:1003:1004:Shira Friedman,,,:/home/shira:/bin/bash
atara:x:1004:1005:Atara Lerner-Friedman,,,:/home/atara:/bin/bash
shikma:x:1005:1006:Shikma Lerner-Friedman,,,:/home/shikma:/bin/bash
amotz:x:1006:1007:Amotz Lerner-Friedman,,,:/home/amotz:/bin/bash
mysql:x:114:125:MySQL Server,,,:/nonexistent:/bin/false
clamav:x:115:126::/var/lib/clamav:/bin/false
amavis:x:116:127:AMaViS system user,,,:/var/lib/amavis:/bin/sh
opendkim:x:117:128::/var/run/opendkim:/bin/false
gitlab-redis:x:999:1009::/var/opt/gitlab/redis:/bin/nologin
gitlab-psql:x:998:1010::/var/opt/gitlab/postgresql:/bin/sh
git:x:1007:1008:GitLab,,,:/home/git:/bin/bash
opendmarc:x:118:129::/var/run/opendmarc:/bin/false
dkim-milter-python:x:119:130::/var/run/dkim-milter-python:/bin/false
deploy:x:1008:1011:Deploy,,,:/home/deploy:/bin/bash
redis:x:112:123:redis server,,,:/var/lib/redis:/bin/false

# `**kwargs`: All remaining keyword arguments

`**kwargs` is a dict, with all keyword arguments that no one else wanted.  This comes at the end, after all others.

In [120]:
def myfunc(a, b, **kwargs):
    return f'{a=}, {b=}, {kwargs=}'

In [121]:
myfunc(10, 20)

'a=10, b=20, kwargs={}'

In [122]:
myfunc(10, 20, 30)

TypeError: myfunc() takes 2 positional arguments but 3 were given

In [124]:
# keyword argument:   NAME=VALUE
# the names are turned into strings
# the values remain as they were

myfunc(10, 20, x=100, y=200)

"a=10, b=20, kwargs={'x': 100, 'y': 200}"