# Agenda:

- Functions!
    - Writing functions
    - Arguments -> Parameters
        - Mandatory parameters 
        - Parameters with defaults
        - `*args`
        - `**kwargs`
    - Scoping

# DRY - don't repeat yourself

In [1]:
s = 'abcd'

x = len(s)

type(x)

int

In [2]:
x

4

In [3]:
x = s.upper()

type(x)

str

In [4]:
x

'ABCD'

In [5]:
x = s.upper

In [6]:
type(x)

builtin_function_or_method

In [7]:
x

In [8]:
x()

'ABCD'

In [9]:
x = 5

x()

TypeError: 'int' object is not callable

In [10]:
d = {'a':10, 'b':20, 'c':30}

# for loop on the dict
for key, value in d.items():
    print(f'{key}: {value}')

a: 10
b: 20
c: 30

In [11]:
d = {'a':10, 'b':20, 'c':30}

# for loop on the dict -- without the () after d.items... will it work?
for key, value in d.items:
    print(f'{key}: {value}')

TypeError: 'builtin_function_or_method' object is not iterable

In [13]:
# Defining a function
# (1) def
# (2) name of the function
# (3) parentheses (), with parameter names inside
# (4) : at the end of the line
# (5) body of the function, indented


def hello():
    print('Hello!')

In [14]:
type(hello)

function

In [15]:
hello()

Hello!

In [16]:
hello()

Hello!

In [17]:
hello()

Hello!

In [18]:
x = hello()

Hello!

In [20]:
print(x)  # the function printed, but didn't return anything

None

In [26]:
# when I define a function, I do two things:
# (1) create a function object
# (2) assign the function to a variable

def hello():
    return 'Hello!'

In [23]:
print(hello())

Hello!

In [29]:
# assigning to the same function overwrites the previous function

# redefine, with a parameter -- now we need an argument
def hello(name):
    return f'Hello, {name}!'

In [30]:
hello()   # what happens now?

TypeError: hello() missing 1 required positional argument: 'name'

In [31]:
x = 5
x = 7

print(x)

7

In [36]:
# assigning to the same function overwrites the previous function

# redefine, with a parameter -- now we need an argument
def hello(name):
    return f'Hello, {name}!'

In [37]:
# parameter: name
# argument: 'world'

hello('world')

'Hello, world!'

In [38]:
# parameter: name
# argument: 5

hello(5)

'Hello, 5!'

In [39]:
hello([10, 20, 30])

'Hello, [10, 20, 30]!'

In [40]:
hello(hello)

'Hello, <function hello at 0x10cf84700>!'

In [41]:
# type hints / type annotations

In [42]:
def add(first, second):
    return first + second

In [43]:
add(5, [10, 20, 30])

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [44]:
add([10, 20, 30], [40, 50, 60])

[10, 20, 30, 40, 50, 60]

In [45]:
x = 5
type(x)

int

In [46]:
x = 'abcd'
type(x)

str

In [47]:
add(10, 3)

13

In [48]:
add(10)

TypeError: add() missing 1 required positional argument: 'second'

In [51]:
x = 5

def x():
    return 'I am x!'

x = 7

def x():
    return 'I am still x!'

x = 9

In [52]:
type(x)

int

# Exercise: `mysum`

1. Python has a `sum` function, which takes any iterable (list, tuple, set) of numbers (ints and floats) and returns the sum.
2. Write a function, `mysum`, that does the same thing.  The function should take one argument, and return a number.
3. Don't use `sum` to write your `mysum` function!

In [ ]:
mysum([10, 20, 30])          # 60
mysum((100, 200, 300, 400))  # 1000

In [53]:
isinstance(5, int)

True

In [54]:
def mysum(numbers):
    total = 0
    
    for one_number in numbers:
        total += one_number
        
    return total

In [55]:
mysum([10, 20, 30])

60

In [56]:
mysum((100, 200, 300, 400))

1000

In [ ]:
def mysum(obj):
    s=0
    for key in obj:
         s += key
    return s
print(mysum([10, 20, 30]))

In [57]:
def add(first, second):
    return first + second

In [58]:
add(10, 3)

13

In [59]:
add(10)

TypeError: add() missing 1 required positional argument: 'second'

In [60]:
def add(first, second):
    return first + second

# parameters: first  second
# arguments:   10      3


add(10, 3)

13

In [61]:
# parameters: first  second
# arguments:   10     


add(10)

TypeError: add() missing 1 required positional argument: 'second'

In [62]:
# let's make second an optional parameter
# if we don't pass a value to second, it'll still get a value

def add(first, second=5):     # this makes __defaults__ == (5,)
    return first + second

In [63]:
# parameters:   first   second
# arguments:     10      3

add(10, 3)

13

In [65]:
# parameters:   first   second
# arguments:     10       5

add(10)

15

In [64]:
add.__defaults__    # tuple with all of our function's defaults

(5,)

In [66]:
def add(first=3, second=5):
    return first + second

In [67]:
# parameters: first  second
# arguments:   10      20

add(10, 20)

30

In [ ]:
# parameters: first  second
# arguments:   10      

add(10)

In [ ]:
add.__d